{{- if .Values.consumer.enabled }}
apiVersion: apps/v1
kind: Deployment
metadata:
  name: consumer
spec:
  replicas: {{ .Values.consumer.replicas }}
  selector:
    matchLabels:
      app: consumer
  template:
    metadata:
      labels:
        app: consumer
    spec:
      containers:
        - name: consumer
          image: {{ .Values.consumer.image }}
          command: ["python"]
          args: ["consumer.py"]
          env:
            - name: KAFKA_BOOTSTRAP
              value: {{ .Values.kafka.bootstrap }}
            - name: KAFKA_TOPIC
              value: {{ .Values.kafka.topic }}
{{- end }}

